*.iml
/node_modules/
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/caches/
/daemon/
/kotlin-profile/
/native/
/notifications/
/captures
/reports
/.scannerwork/
/.sonar/
/.tmp/
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
debug.keystore.base64
*.jks
*.keystore
